html { 
  background: url(../img/sky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	background: none;
	

}

#mainDiv{
	text-align: center;
	margin-top:10% ;
	width: 35%;
}

#city{
	margin: 5% 0;
}

